/* -------------------------- debug -------------------------- */

/* You can comment/uncomment 1 line below for debugging */
/* Try it 😉 */

/* * {box-shadow: -1px 1px 10px 1px rgba(0, 0, 0, 0.5) inset;} */
/* body {box-shadow: -1px 1px 10px 3px red inset;} */
/* header {box-shadow: -1px 1px 10px 3px yellow inset;} */
/* section {box-shadow: -1px 1px 10px 3px blue inset;} */

/* ----------------------------------------------------------- */

*{ 
    margin: 0; padding: 0;
    /* ... here, code for anchor link animations */
}


body {background-color: rgb(245, 245, 245);}

footer{background-color: rgb(220, 220, 220);}


/**
 * ...
 * ... Mobile fisrt
 * ...
 * ... your code here
 * ...
 */
header{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header h1{
    text-align: center;
}
 header img{
    
    width:100%;
 }

#section-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
 
 header img{
        width: 300px;
     }


 #section-1 div {
    box-shadow: -1px 1px 10px 3px inset;
    margin: 15px;
    width: 300px;
    height: 300px;
    
    
}
#section-1 div img{
    width: 100%;
    animation:rotate 3s ;
    animation-timing-function : ease-in-out;
}
#section-1 div:nth-child(1){
    animation-name: Suzuya;
    Animation-delay : 2s;
    Animation-duration : 3s;
    Animation-iteration-count : infinite; 
}
#section-1 div:nth-child(2):hover {
    animation-name: Cid;
    animation-delay: 0ms;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}


#section-2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-size: 30px;
    text-align: center;
    line-height: 150px;
   
 
}

#section-2 div div div{
    box-shadow:-1px 1px 10px 3px  inset;
    width: 150px;
    height: 150px;
     border-radius:50%;
     margin: 15px;
     
     
}
#grid{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
   justify-content: center;
   
}

#footer{ 
    height: 200px;
    width: auto;
    font-size: 30px;
    text-align:center;
}
#grid div:hover{
    transform: scale(1.1);
    transition-duration: 0.3s;}
#grid div div:hover{
    transform: rotate(360deg);
    transition-duration: 0.5s;}
#grid div{
    transition-duration: 0.5s;
}

@media screen and (max-width:400px) (orientation: landscape) {
  
    #section-1 {
        display: flex;
       flex-direction: row;
       align-items: center;
      
    }
    .div picture{
        align-items: center;
        width: 454px;
        right: 667px;
    }
    #section-2 {
       display: flex;
       justify-content: center;
       align-items: center;
    }    

}

@media (max-width:400px) {h1  :nth-child(2){display: none}h1 :nth-child(5){display: none;} h1 :nth-child(3){display: none;}
}


@keyframes Suzuya {
    From {
        Opacity :1 ;
      }
      To {
        Opacity : -1;
      }
}
   
   
  
  @keyframes Cid {
    From {
        transform: rotate(0);
    }
    to {
        transform: rotate(-360deg);
    }
}
@media (min-width: 768px){
    header{
        width: 100vh;
        height: 100vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    h1 :nth-child(5) {display: contents;}

    h1{
        font-size: 45px;
    }

    #section-1{
        width: 100vh;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    #section-2{
        width: 100vh;
        height: 100vh;
        display: grid;
        align-items: center;
        justify-content: center;
    }

    #grid{
        width: 100vh;
        height: 100vh;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: auto;
        grid-template-rows: repeat(3, 1fr);
    }
 
    #footer{
        width: 100vh;
        font-size: large;
    }
}

@media (min-width: 1024px){
    header{
        width: 100%;
    }

    h1 :nth-child(2) {display: none;}
    h1 :nth-child(3) {display: none;}
    h1 :nth-child(5) {display: contents;}

    #section-1{
        width:100%;
    }

    #section-2{
        width: 100%;
    }

    #footer{
        width: 100%;
    }
}

@media (min-width:1200px){
    h1 :nth-child(2) {display:contents}
    h1 :nth-child(3) {display: contents;}
    }
    #grid div:first-child:not(div:only-child){
        grid-area: 1 / 3 / 1 / 4;
    }
    #grid div:nth-child(2):not(div:only-child){
      grid-area: 2 / 2 / 2 / 3;
    }
    #grid div:nth-child(3):not(div:only-child){
      grid-area: 2 / 4 / 2 / 5;
    }
    #grid div:nth-child(4):not(div:only-child){
      grid-row-start: 3;
      grid-row-end: 3;
    }
    #grid div:nth-child(5):not(div:only-child){
      grid-area: 3 / 3 / 3 / 4;
    }
    #grid div:nth-child(6):not(div:only-child){
       grid-area: 3 / 5 / 3 / 6;
    }


   
 
   

    
