/* -------------------------- debug -------------------------- */

/* You can comment/uncomment 1 line below for debugging */
/* Try it 😉 */

/* * {box-shadow: -1px 1px 10px 1px rgba(0, 0, 0, 0.5) inset;} */
/* body {box-shadow: -1px 1px 10px 3px red inset;} */
/* header {box-shadow: -1px 1px 10px 3px yellow inset;} */
/* section {box-shadow: -1px 1px 10px 3px blue inset;} */

/* ----------------------------------------------------------- */

*{ 
    margin: 0; padding: 0;
    /* ... here, code for anchor link animations */
}


body {background-color: rgb(245, 245, 245);}

footer{background-color: rgb(220, 220, 220);}


/**
 * ...
 * ... Mobile fisrt
 * ...
 * ... your code here
 * ...
 */
header{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header h1{
    text-align: center;
}
 header img{
    
    width:100%;
 }

#section-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
 
 header img{
        width: 300px;
     }


 #section-1 div {
    box-shadow: -1px 1px 10px 3px inset;
    margin: 15px;
    width: 300px;
    height: 300px;
}
#section-1 div img{
    width: 100%;
}


#section-2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-size: 30px;
    text-align: center;
    line-height: 150px;
  
 
}

#section-2 div div div{
    box-shadow:-1px 1px 10px 3px  inset;
    width: 150px;
    height: 150px;
     border-radius:50%;
     margin: 15px;
     
     
}
#grid{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
   justify-content: center;
   
}

#footer{ 
    height: 200px;
    width: auto;
    font-size: 30px;
    text-align:center;
}


@media screen and (max-width:400px) (orientation: landscape) {
  
    #section-1 {
        display: flex;
       flex-direction: row;
       align-items: center;
      
    }
    .div picture{
        align-items: center;
        width: 454px;
        right: 667px;
    }
    #section-2 {
       display: flex;
       justify-content: center;
       align-items: center;
    
    
    }    

}

@media (max-width:400px) {h1  :nth-child(2){display: none}h1 :nth-child(5){display: none;} h1 :nth-child(3){display: none;}
}



    
